body
{
    font-family: "Rubik", serif;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}
/* *************** TITLE *************** */
#blog-title
{
    margin-bottom: 3rem;
    font-size: 48px;
}

/* *************** CONTENT BLOCKS *************** */
#blog-first-block, #blog-second-block
{
    display: flex;
}

.blog-paragraph
{
    width: 50rem;
}

.blog-secondary-title
{
    font-size: 2rem;
    margin-bottom: 2rem;
}

#blog-second-block
{
    margin-top: 3rem;
}