/* *************** MAIN *************** */
body
{
    font-family: "Rubik";
}

main
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

/* *************** TEXT AND BUTTON *************** */
#greeting-message
{
    font-size: 48px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    margin-bottom: 1.875rem;
}

#signup-2
{
    text-decoration: none;
    color: #1C4701;
    font-weight: 700;
    font-size: 1.125rem;
    background-color: #7ED321;
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 0.625rem;
    transition: all 0.5s;
}

#signup-2:hover
{
    transform: scale(1.03);
    box-shadow: 2px 2px 3px rgb(117, 117, 117);
}

#text-and-button
{
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* *************** IMAGE *************** */
img
{
    animation: move 1.5s infinite ease-in-out alternate;
    background: white;

}

@keyframes move
{
    from
    {
        transform: translateY(0rem);
    }
    to
    {
        transform: translateY(0.625rem);
    }
}