/* *************** MAIN *************** */
*
{
    padding: 0;
    margin: 0;
}

header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    font-family: "Rubik", serif;
}

/* *************** TITLE *************** */
#love
{
    color: #7ED321;
}

h1
{
    margin-left: 1.25rem;
    font-size: 3rem;
    
}

/* *************** LINKS *************** */
#links
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 18.75rem;
    justify-content: space-between;
    margin-right: 1.25rem;
}

#about, #blog, #signup
{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

#signup-btn
{
    background-color: #7ED32166;
    color: #1C4701;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
}